<html>

<head>
    <meta charset="utf-8">
    <title>域名联系</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <div style="display:none">
        <script src="http://s95.cnzz.com/z_stat.php?id=1260048285&web_id=1260048285" language="JavaScript"></script>
    </div>
    <style>
    html,
    body {
        position: relative;
        height: 100%;
    }
    
    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        margin: 0;
        padding: 0;
        display:flex;
        align-items:center;
        justify-content: center;
    }
    
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }
    </style>
</head>

<body>
    <h2 class="hint">Please Contact fanatic224@gmail.com for Domain Inquiries</h2>
    <h2 class="hint">域名转让请联系fanatic224@gmail.com</h2>
</body>

</html>